<p-treeTable [value]="treeNodes" [tableStyle]="{width:'auto'}">
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.name}}
        <p-button *ngIf="rowData.deleteAllowed" icon="pi pi-times" styleClass="p-button-rounded p-button-text p-button-sm p-button-danger"></p-button>
        <p-button *ngIf="rowData.createAllowed" icon="pi pi-plus" styleClass="p-button-rounded p-button-text p-button-sm p-button-success"></p-button>
      </td>
      <td>
        <input type="text" pInputText *ngIf="rowData.value" [(ngModel)]="rowData.value"/>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
